// RevYou NAVIGATION STYLE

nav {
    position: fixed;
    width: 80px;
    height: 100vh;
    z-index: 5;
    background-color: white;
    .animate-standard(0.2s);
    .button-container {
        height: inherit;
        ul {
            width: 100%;
            li {
                position: relative;
                text-align: center;
                width: inherit;
                height: 80px;
                border-right: 1px solid transparent;
                cursor: pointer;
                .animate-standard(0.2s);
                .centerXYFlex;
                ion-icon {
                    font-size: 30px;
                    .animate-standard(0.2s)
                }
                p {
                    position: absolute;
                    left: 100px;
                    opacity: 0;
                    pointer-events: none;
                    .animate-standard(0.1s);
                }
                &:hover {
                    border-right: 1px solid @orange-c;
                    ion-icon {
                        color: @orange-c;
                    }
                    p {
                        opacity: 1;
                    }
                }

            }
        }
        .centerXYFlex;
    }
    .bar {
        position: absolute;
        height: 100%;
        width: 1px;
        right: 0px;
        background-color: @orange-c;
        opacity: 100;
        .animate-standard(0.1s);
    }
}

#nav-button {
    position: fixed;
    width: 80px;
    height: 80px;
    z-index: 6;
    cursor: pointer;
    .centerXYFlex;
    ion-icon {
        font-size: 55px;
        .animate-standard(0.2s);
    }
    &:hover ion-icon {
        color: @orange-c;
    }
}