main#query {
    .a {
        width: 100%;
        padding-bottom: 10px;
    }
    img {
        width: 200px;
        height:200px;
        float: left;
        background-color: red;
    }
    .desc {
        padding-left: 10px;
    }
}
