main#query {
    section {
        height: 200px;
    }
    img {
        width: 400px;
        height: 200px;
        float: left;
        background-color: @orange-c;
    }
    .desc {
        padding-left: 10px;
        float: left;
        width: 900px;
        hr {
            margin: 5px 0 5px 0;
        }
    }
    .stat {
        float: left;
        padding: 10px;
    }
}
