main#review {
    header {
        padding: 100px 200px 0 200px;
        section {
            position: relative;
        }
        .image-container {
            width: 600px;
            height: 400px;
            .centerXYFlex;
            img {
                max-width: 600px;
                max-height: 400px;
                background-color: @orange-c;
            }
        }
        .description {
            position: absolute;
            top: 0;
            left: 620px;
            .stars {
                height: 10px;
                margin-bottom: 5px;
                .star {
                    width: 10px;
                    height: 10px;
                    border-radius: 5px;
                    float: left;
                    margin-right: 5px;
                }
                .inactive {
                    background-color: lightgrey;
                }
            }
            h5 {
                text-transform: capitalize;
            }
        }
    }
    section.buttons {
        width: 100%;
        height: 50px;
        padding: 0 200px 0 200px;
        .centerXYFlex;
        .button {
            width: 200px;
            height: 100%;
            float: left;
            text-align: center;
            border: 1px solid lightgrey;
            margin: 0 30px 0 30px;
            border-radius: 10px;
            cursor: pointer;
            .centerXYFlex;
            .animate-standard(0.2s);
            p {
                text-align: center;
                margin: 0;
            }
        }
    }
    section.reviews {
        padding: 100px 200px 0 200px;
        .review {
            margin-top: 50px;
        }
    }
}

.dynamic-form.add-review-form {
    .large-form {
        height: 600px;
        overflow-y: auto;
        &::-webkit-scrollbar-thumb {
            background-color: white;
        }
    }
    .cat {
        width: 70%;
        border: 1px solid transparent;
    }
    .rating {
        width: 29%;
        margin-left: 1%;
        border: 1px solid transparent;
    }
}
