#review { 
    #tupian {
        width:200px;
        height: 200px;
        background-color: blue;
        float: left;
        margin-top: 1cm;
     }
     #des {
         margin-left: 2cm;
         float: left;
         margin-top: 1cm;
     }
     #rev {
         float: left;
     }
     section {
         height: 300px;
     }
     #num {
         float: right;
    }
}
