extends layout

block content
    header
        .background-holder
        .center-bar
        .title-holder
            div
                h1="RevYou"
                p="Find Reviews On: "
                    span.alterable="Eggs"
                br
                form(action="query" method="GET")
                    div.form-group
                        input.form-control(name="search" type="text" placeholder="Games, Shoes, Movies, Books ...")
                    div.form-group
                        input.form-control(type="submit")
    main#index
        p
            span Coming
            |
            span Soon