doctype html
html
    head
        meta(charset="utf-8")
        meta(name="author" content="RATBIT")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="DNUI Project")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title=title
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:300,400,700")
        link(rel="stylesheet", type="text/css", href="/node_modules/reset.css/reset.css")
        link(rel="stylesheet", type="text/css", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/node_modules/ionicons/dist/css/ionicons.min.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
        link(rel="icon" href="/images/favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
        link(rel="manifest" href="/images/manifest.json")
        meta(name="theme-color" content="#ffffff")
        script(type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="/node_modules/imagesloaded/imagesloaded.pkgd.min.js")
    body
        #loader
            .title-holder
                h1
                    span.blinker .
                    span R
                    |ev
                    span Y
                    |ou
        #nav-button.dt-hover.dt-texth
            ion-icon(name="keypad")
        nav
            .button-container
                .bar.dt-bg
                ul
                    li.dt-hover.dt-hover-children.dt-borderh
                        ion-icon.dt-hover.dt-texth(name="basket")
                        p Anything
                    li.dt-hover.dt-hover-children.dt-borderh
                        ion-icon.dt-hover.dt-texth(name="logo-game-controller-a")
                        p Games
                    li.dt-hover.dt-hover-children.dt-borderh
                        ion-icon.dt-hover.dt-texth(name="tv")
                        p Movies
                    li.dt-hover.dt-hover-children.dt-borderh 
                        ion-icon.dt-hover.dt-texth(name="book")
                        p Books
                    li.dt-hover.dt-hover-children.dt-borderh 
                        ion-icon.dt-hover.dt-texth(name="shirt")
                        p Clothes
                    li.dt-hover.dt-hover-children.dt-borderh 
                        ion-icon.dt-hover.dt-texth(name="umbrella")
                        p Other
    block content
    script(type="text/javascript" src="/javascripts/loader.js")
    script(type="text/javascript" src="/javascripts/navigation.js")
    script(type="text/javascript" src="/javascripts/theme.js")
    script(type="text/javascript" src="/node_modules/ionicons/dist/ionicons.js")