extends layout
block content
    h1(align="center")="this is the query page"
    main#query
        form(action="query" method="GET")
            div.form-group
                input.form-control(name="query" type="text" placeholder="Games, Shoes, Movies, Books ...")
            div.form-group
                input.form-control(type="submit")
        each x in array
            div.a
                img(src="", alt="")
                div.desc
                    h3=x.name
                    h4=x.desc
                    
        