extends layout
block content
    main#review
        header
            section
                .image-container
                    img(src=product.imageLink)
                .description
                    h2=product.name
                    .stars
                        - var a = 0
                        while a < ratings.activeRating
                            .star.dt-bg
                            - a++
                        - var b = 0
                        while b < ratings.inactiveRating
                            .star.inactive
                            - b++
                    h5=product.type + " | " + product.releaseDate + " | " + product.score + "/100"
                    p=product.desc