// RevYou CONSTANT VARIABLES

@typography-light: #ffffff;
@typography-dark: #0d1010;

@background-standard: #f1f1f1;
@background-dark: #0d1010;

@cyan-c: #00c0ff;

@pink-c: #ff008b;

@orange-c: #ee6c30;

@lime-c: #30ee60;